*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: content-box;
}
ul, ol, li {
    list-style: none;
}
html, body {
    height: 100%;
    line-height: 125%;
    font-size: 24px;
    font-family: 'Ubuntu';
    scroll-behavior: smooth;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
button {
    background-color: transparent;
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
._container {
    width: 100%;
    height: 100%;
    max-width: 1280px;
}
.header, .main, .footer {
    background: #eeeeee;
}
.header, .footer {
    min-height: 100px;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
}
.header__container, .main__container, .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.slider {
    box-sizing: border-box;
    padding: 30px 45px;
    width: 100%;
    height: 100%;
    background: #494949;
    border-radius: 1vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-gap: 4%;
    grid-template-areas: "image image" "caption controls";
}
.slider__image {
    grid-area: image;
    background: #000 url('img/1.webp') center/contain no-repeat;
}
.slider__caption {
    grid-area: caption;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    color: #FFF;
}
.slider__controls {
    grid-area: controls;
    justify-self: flex-end;
    display: flex;
}
.slider__button {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    height: 50%;
    min-width: 25px;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__button input {
    opacity: 0;
    cursor: pointer;
    display: none;
}
.checkmark {
    display: block;
    min-height: 15px;
    height: 1vw;
    min-width: 15px;
    width: 1vw;
    background-color: #a1a1a1;
    border-radius: 25%;
    transition: all 0.2s;
}
.slider__button:hover .checkmark{
    background-color: #FFFFFF;
}
.slider__button:active .checkmark {
    background-color: yellowgreen;
}
.slider__button input:checked ~ .checkmark {
    background-color: yellow;
}